{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row mb-3">
        <div class="col">
            <p>
            <h4>Welcome!</h4>
            </p>
            <p>
                From this site you can control your fleet of multimedia devices
                RaspberryPi.
            </p>
            <p>
                You can immediately start adding images as static videos from the
                <a href="{{ url_for('converter') }}" class="text-link">Converter</a>.
            </p>
            <p>
                From the <a href="{{ url_for('videos') }}" class="text-link">Videos on devices</a> section you can
                <i>copy</i> and <i>delete</i>, that is, rearrange the videos on the enabled devices.
            </p>
            <p>
                Remember that each device seeks to synchronize its videos every few minutes (usually
                5'), so you need to wait at least that long for the Multimedia Signs to start
                playing a new uploaded video, or stop showing a delete clip.
            </p>
        </div>
    </div>
</div>

{% endblock %}