{% extends "base.html" %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">video title</th>
      <th scope="col">frame</th>
    </tr>
  </thead>
  <tbody>
    {% for vid in vids %}
    <tr>
      <th scope="row">{{ vid.device }}</th>
      <td>{{ vid.tag }} filename='{{ vid.src }}'</td>
      <td>
        <video autoplay="autoplay" controls="controls" preload="preload" width="320" height="240">
          <source src="{{ url_for('static', filename='/' + vid.src)}}" />
        </video>
      </td>
    </tr>
    {% endfor %}
  </tbody>

</table>
{% endblock %}